.main {
  max-width: 1240px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.header {
  padding: 20px 0 20px;
  font-family: 'Jet Brains Mono';
  font-weight: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.order-selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}
