.main {
  min-width: 680px;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 780px;
  padding-top: 80px;
  margin: 0 auto;
  text-align: left
}

.resume{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.resumePage{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  width: 740px;
}

.total {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.ingredientList {
  max-height: 300px;
  overflow-y: auto;
  padding: 0;
}

.ingredientListPage {
  max-height: 400px;
  width: 780px;
  overflow-y: auto;
  padding: 0;
}

.ingredient{ 
  margin-bottom: 16px;
  list-style: none;
}

.ingredientItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
}

.ingredientBox {
  display: flex;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.imageBox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px solid #303078;
  background: #131316;
  margin-right:16px;
}

.image{
  max-height: 60px;
}


