.wrapper{
    height: 100%;
    padding-top: 180px;
}

.form{
    max-width: 480px;
    text-align: center;
    margin: 0 auto;
}

.buttonLink {
  text-decoration: none;
  padding:0 ;
  margin: 0;
  color: #4c4cff;
  row-gap: 16px;
}

.text {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 16px;
}

