.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: 999;
}

.open {
  opacity: 1;
  visibility: visible;
}
